{{#if celulares}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr class="text-center">
            <th>Num.</th>
            <th>Clave</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Fecha de Lanzamiento</th>
            <th>RAM</th>
            <th>Almacenamiento</th>
            <th>Cantidad de Camaras</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each celulares}}
        <tr>
            <td>{{@index}}</td>
            <td>{{clave}}</td>
            <td>{{marca}}</td>
            <td>{{precio}}</td>
            <td>{{fechaLanzamiento}}</td>
            <td>{{RAM}}</td>
            <td>{{almacenamiento}}</td>
            <td>{{cantCamaras}}</td>
            <td>
                {{#if opcion}}
                <a href="/status/celulares/{{_id}}" class="btn btn-warning">No disponible</a>
                {{else}}
                <a href="/status/celulares/{{_id}}" class="btn btn-success">Disponible</a>
                {{/if}}
                <a href="/update/{{_id}}" class="btn btn-info">Actualizar</a>
                <a href="/delete/{{_id}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
    <h1>No hay celulares</h1>
    <img src="/icons/file.png" class="w-75">
</div>
</div>
{{/if}}