<table>
    <thead>
        <tr>
            <th>Num</th>
            <th>Clave</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Fecha lanzamiento</th>
            <th>RAM</th>
            <th>Almacenamiento</th>
            <th>Cantidad de camaras</th>
        </tr>
    </thead>

    <tbody>

        {{#each celulares}}
        <tr>
            <td>{{@index}}</td>
            <td>{{clave}}</td>
            <td>{{precio}}</td>
            <td>{{marca}}</td>
            <td>{{fechaLanzamiento}}</td>
            <td>{{RAM}}</td>
            <td>{{almacenamiento}}</td>
            <td>{{cantCamaras}}</td>
            <td>
                {{#if opcion}}
                <a href="/celulares/status/{{_id}}">No disponible</a>
                {{else}}
                <a href="/celulares/status/{{_id}}">disponible</a>
                {{/if}}
                <a href="/celulares/update/{{_id}}">Actualizar</a>
                <a href="/celulares/delete/{{_id}}">Eliminar</a>
            </td>

        </tr>

        {{/each}}
    </tbody>
</table>