<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white">

<h4>CELULARES</h4>
<form action="/update/{{celulares._id}}" method="POST">
<div>
    <label for="clave">Modifica celular:</label>
    <input type="text" name="clave" placeholder="Clave" 
    value="{{celulares.clave}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="marca">Modifica marca:</label>
    <input type="text" name="marca" placeholder="Marca" 
    value="{{celulares.marca}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="precio">Modifica precio:</label>
    <input type="text" name="precio" placeholder="Precio" 
    value="{{celulares.precio}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="fechaLanzamiento">Modifica fecha:</label>
    <input type="date" name="fechaLanzamiento" placeholder="fechaLanzamiento" 
    value="{{celulares.fechaLanzamiento}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="RAM">Modifica RAM:</label>
    <input type="text" name="RAM" placeholder="RAM" 
    value="{{celulares.RAM}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="almacenamiento">Modifica almacenamiento:</label>
    <input type="text" name="almacenamiento" placeholder="Almacenamiento" 
    value="{{celulares.almacenamiento}}" class="form-control bg-dark text-white">
</div>
<div>
    <label for="cantCamaras">Modifica cantidad de camaras:</label>
    <input type="text" name="cantCamaras" placeholder="Cant.Camaras" 
    value="{{celulares.cantCamaras}}" class="form-control bg-dark text-white">
</div>

<button class="btn btn-info">Actualizar</button>
</form>
 </div>
        </div>
    </div>
</div>



